<% @coupons.each do |coupon| %>
  <!-- <div><a href='<%= "/coupons/#{coupon.id}" %>'><%= coupon.to_s %></div> -->
  <div><%= coupon.store%>: <%= link_to coupon.coupon_code, coupon_path(coupon) %></div>
<% end %>

<br>

<%= form_tag new_coupon_path, method: :get do %>
  <%= submit_tag "New Coupon" %>
<% end %>
